<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.EmailMapper">

	<resultMap id="EmailResultMap" type="com.modal.Email">
        <id property="mail_id" column="mail_id"/>
        <result property="created_datetime" column="created_datetime"/>
        <result property="modified_datetime" column="modified_datetime"/>
        <result property="sender" column="sender"/>
        <result property="receiver" column="receiver"/>
        <result property="cc" column="cc"/>
        <result property="bcc" column="bcc"/>
        <result property="subject" column="subject"/>
        <result property="body" column="body"/>
        <result property="isHTML" column="isHTML"/>
        <result property="isSend" column="isSend"/>

        <!-- Nested attachments -->
        <collection property="attachments" ofType="com.modal.EmailAttachment"
                    select="findEmailAttachmentByMail_id" column="mail_id"/>
    </resultMap>

    <select id="findEmailByMail_id" resultMap="EmailResultMap">
    	SELECT * FROM email WHERE mail_id = #{mail_id}
        ORDER BY created_datetime DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="findEmailAttachmentByMail_id" resultType="com.modal.EmailAttachment">
        SELECT *
        FROM email_attachment
        WHERE mail_id = #{mail_id}
    </select>
</mapper>
